openapi: 3.0.0
info:
  contact:
    email: info@payloadops.com
    name: Payload Ops Team
  description: "The Payload Ops API streamlines management of AI prompts, projects,\
    \ organizations, teams, and users through conventional HTTP requests. This platform\
    \ enables efficient automation and control of resources, providing robust tools\
    \ for developers to manage settings, memberships, and activities seamlessly."
  title: Payload Ops API
  version: "1.0"
servers:
- description: Production server (uses live data)
  url: https://api.payloadops.com/v1
- description: Sandbox server (uses test data)
  url: https://sandbox-api.payloadops.com/v1
security:
- BearerAuth: []
- BasicAuth: []
paths:
  /health:
    get:
      description: |
        This endpoint performs a health check of the API, quickly assessing and returning the operational status. It is designed to monitor critical system metrics and infrastructure components, such as database connections and system uptime, ensuring that the API is functioning properly. This endpoint is vital for operational monitoring, particularly in production environments where reliability is crucial.

        **Key Features**:
        - **Immediate Health Status**: Quickly assesses the overall health of the API by checking essential components and dependencies, such as database connectivity and server uptime.
        - **Operational Monitoring**: Used by monitoring systems, load balancers, and during deployment processes to ensure that the API is operational and performing as expected.

        **Use Cases**:
        - **Continuous Monitoring**: Automatically monitored by systems operations teams to detect and respond to issues promptly.
        - **Deployment Verification**: Checked post-deployment to confirm that the API is fully operational in its deployed environment.

        **Response Details**:
        - A successful response indicates that all checked components are operational.
        - An unsuccessful response identifies which components are experiencing issues, aiding in quick diagnostics and resolution.
      operationId: healthCheck
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckSuccessResponse'
          description: "API is healthy and fully operational, with all necessary components\
            \ (like databases) connected and functioning."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckErrorResponse'
          description: "API is experiencing issues, indicating that one or more components\
            \ are not functioning correctly."
      summary: Health Check Endpoint
      tags:
      - Health Check
  /projects:
    get:
      description: |
        Retrieves a comprehensive list of all projects within the system. This operation is crucial for users needing an overview of all existing projects, including their basic metadata and status. It allows for effective management and navigation across different projects, particularly useful in environments with multiple ongoing initiatives.

        **Key Features**:
        - **Broad Overview**: Provides a snapshot of all projects, facilitating quick access and management decisions.
        - **Ease of Navigation**: Helps users identify and access specific projects quickly, enhancing workflow efficiency.

        **Use Cases**:
        - Administrators monitoring the overall progress and status of all projects.
        - Team members seeking to quickly find and access specific projects they are working on or interested in.
      operationId: listProjects
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                type: array
          description: "Successfully retrieved a list of all projects, each represented\
            \ with basic details like project ID, name, and description."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the listing of projects."
      security:
      - BearerAuth: []
      summary: List all projects
      tags:
      - Projects
    post:
      description: |
        Creates a new project based on the provided details in the request. This endpoint facilitates the addition of new projects into the system, allowing for the initiation of new initiatives or work streams within the organization.

        **Key Features**:
        - **Project Initialization**: Enables the setup of new projects, defining their scope, objectives, and other necessary details from the outset.
        - **Configurable Details**: Allows for detailed customization of project parameters such as name, description, and specific settings related to project management.

        **Use Cases**:
        - Starting new initiatives or phases in business operations.
        - Expanding the organization's portfolio by adding projects that address new challenges or market opportunities.
      operationId: createProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInput'
        description: "Contains the necessary information for creating a new project,\
          \ such as the project name, description, and other relevant settings."
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: "The project was created successfully, with details of the\
            \ new project provided in the response."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Bad request due to invalid input, such as incomplete data\
            \ fields or improper values."
      security:
      - BearerAuth: []
      summary: Create a new project
      tags:
      - Projects
  /projects/{projectId}:
    delete:
      description: |
        Deletes a specific project using its unique ID, removing all data and settings associated with it. This operation is typically used when a project has been completed, or if it needs to be removed for organizational reasons.

        **Key Features**:
        - **Complete Removal**: Ensures that all project-related data is permanently deleted.
        - **Security Compliance**: Helps maintain data hygiene and compliance by allowing for the disposal of unnecessary or outdated projects.

        **Use Cases**:
        - Removing projects that are no longer active or required.
        - Cleaning up workspace and resources as part of project lifecycle management.
      operationId: deleteProject
      parameters:
      - description: The unique identifier of the project to be deleted.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: "Project deleted successfully, with no remaining data stored."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No project found with the specified ID to delete.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the deletion of the project."
      security:
      - BearerAuth: []
      summary: Delete a project
      tags:
      - Projects
    get:
      description: |
        Retrieves detailed information about a specific project using its unique identifier. This operation is crucial for users who need to view the overall structure, settings, and details of the project, including its metadata, associated prompts, and configuration settings.

        **Key Features**:
        - **Comprehensive Details**: Provides all relevant information about the project, including descriptions, member roles, and other metadata.
        - **Project Oversight**: Essential for project managers and team members to understand current project settings and status.

        **Use Cases**:
        - Project managers reviewing project settings and progress.
        - Team members accessing project details for integration with other tasks or for reporting purposes.
      operationId: getProject
      parameters:
      - description: The unique identifier of the project to retrieve.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Detailed information about the project retrieved successfully.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No project found with the specified ID.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the retrieval of the project."
      security:
      - BearerAuth: []
      summary: Retrieve a project by ID
      tags:
      - Projects
    put:
      description: |
        Updates the specified project's details based on the provided input. This operation allows for modifications to project metadata such as the project name, description, and other configurable settings. It is vital for maintaining up-to-date information and adapting project settings to evolving requirements.

        **Key Features**:
        - **Flexible Modification**: Supports changes to most project attributes, facilitating dynamic project management.
        - **Adaptive Configuration**: Enables projects to be adapted as team goals or business needs change.

        **Use Cases**:
        - Updating project details to reflect new directions or goals.
        - Modifying access controls or roles as team dynamics change.
      operationId: updateProject
      parameters:
      - description: The unique identifier of the project to be updated.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInput'
        description: "Contains the new details for the project, which may include\
          \ the name, description, and other relevant settings."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: "Project updated successfully, reflecting new settings and\
            \ configurations."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request due to invalid input or missing required fields.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No project found with the specified ID to update.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the update of the project."
      security:
      - BearerAuth: []
      summary: Update a project
      tags:
      - Projects
  /projects/{projectId}/keys:
    get:
      description: |
        Retrieves a list of all API keys associated with a specific project. This endpoint is essential for managing and reviewing the access provided to different services and users. It offers a comprehensive view of all keys, their scopes, and their statuses, which is critical for effective access management and security audits.

        **Features**:
        - **Comprehensive Overview**: Provides a complete listing of all API keys, facilitating audits and security reviews.
        - **Access Transparency**: Ensures that administrators can view and monitor the scopes and usage of each API key, aiding in proactive security practices.

        **Use Cases**:
        - Auditing API keys to ensure that they are up-to-date and have appropriate permissions.
        - Quickly identifying and managing keys that may need adjustments or revocation.
      operationId: listApiKeys
      parameters:
      - description: The unique identifier of the project whose API keys are to be
          listed.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: Successfully retrieved a list of API keys for the project.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The specified project was not found, indicating an invalid\
            \ project ID."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the retrieval of API keys."
      security:
      - BearerAuth: []
      summary: List all API keys for a project
      tags:
      - API Keys
    post:
      description: |
        Generates a new API key for a specific project with designated scopes. This operation is crucial for creating secure, scoped access to the project's resources. It allows administrators to define specific permissions, ensuring that API keys can only access appropriate endpoints as per their operational requirements.

        **Features**:
        - **Scoped Access**: Tailors access permissions to specific needs, enhancing security by limiting API key capabilities to necessary actions.
        - **Secure Management**: Generates keys in a secure manner, ensuring that they are only known to the requester and stored securely.

        **Use Cases**:
        - Provisioning a new service or system that requires access to the project.
        - Creating temporary access for automation scripts or third-party integrations.

        **Guidelines**:
        - Ensure to specify the necessary scopes in the request body to avoid overly permissive access.
        - Manage the lifecycle of API keys responsibly, revoking them when no longer needed.
      operationId: generateApiKey
      parameters:
      - description: The identifier of the project for which the API key is being
          generated.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyInput'
        description: Contains the scope definitions for the new API key.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: New API key generated successfully. The key details are included
            in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Invalid request, such as missing required fields or invalid\
            \ scope specifications."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified project was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the generation of the\
            \ API key."
      security:
      - BearerAuth: []
      summary: Generate a new API key with specific scopes for a project
      tags:
      - API Keys
  /projects/{projectId}/keys/{keyId}:
    delete:
      description: |
        Deletes a specific API key from a project, permanently removing its access to the project resources. This operation is essential for maintaining security when an API key is no longer needed or if its permissions need to be revoked urgently.

        **Key Features**:
        - **Secure Cleanup**: Ensures that unused or compromised API keys are removed to prevent unauthorized access.
        - **Access Revocation**: Provides a method to immediately invalidate an API key when necessary.

        **Use Cases**:
        - Removing access for team members who no longer require it, such as after project completion or role changes.
        - Revoking keys that may have been exposed or compromised to maintain security integrity.
      operationId: deleteApiKey
      parameters:
      - description: The unique identifier of the project from which the API key will
          be deleted.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the API key to be deleted.
        explode: false
        in: path
        name: keyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: "The API key was deleted successfully, no content returned."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Either the API key or the project was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the deletion of the API\
            \ key."
      security:
      - BearerAuth: []
      summary: Delete a specific API key
      tags:
      - API Keys
    get:
      description: |
        Retrieves detailed information about a specific API key associated with a project. This operation is crucial for managing access to project resources, allowing administrators to review the permissions and details of individual API keys.

        **Key Features**:
        - **Security Management**: Provides the ability to monitor and manage API access through detailed key information.
        - **Access Review**: Enables project managers to verify the scope and validity of an API key, ensuring that it aligns with current security policies.

        **Use Cases**:
        - Administrators auditing access permissions for compliance and security best practices.
        - Developers checking API key details to troubleshoot access issues or to ensure proper configuration.
      operationId: getApiKey
      parameters:
      - description: The unique identifier of the project associated with the API
          key.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the API key to retrieve.
        explode: false
        in: path
        name: keyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Detailed information about the API key retrieved successfully.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Either the specified API key or the project was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the retrieval of the API\
            \ key."
      security:
      - BearerAuth: []
      summary: Retrieve a specific API key
      tags:
      - API Keys
    put:
      description: |
        Updates the scopes associated with a specific API key. This operation allows administrators to modify access levels and permissions for API keys, adapting to changing security needs or project requirements.

        **Key Features**:
        - **Scope Management**: Adjusts the access boundaries defined by the API key scopes, ensuring they are kept up-to-date with project roles and permissions.
        - **Flexible Access Control**: Offers the ability to dynamically change API key permissions without needing to recreate keys.

        **Use Cases**:
        - Modifying API key permissions in response to role changes within a project team.
        - Updating key scopes to restrict or expand access as part of security policy adjustments.
      operationId: updateApiKey
      parameters:
      - description: The unique identifier of the project for which the API key is
          managed.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the API key to be updated.
        explode: false
        in: path
        name: keyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyInput'
        description: JSON payload containing the new scopes for the API key.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: The API key's scopes were updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Invalid input, such as unspecified or unsupported scopes."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Either the API key or the project was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the update of the API\
            \ key."
      security:
      - BearerAuth: []
      summary: Update an API key's scopes
      tags:
      - API Keys
  /projects/{projectId}/prompts:
    get:
      description: |
        Retrieves a comprehensive list of all prompts associated with a specific project. This operation is essential for users to view and manage all the prompts under a project, facilitating quick access to any particular prompt and understanding the scope of the project's content.

        **Key Features**:
        - **Comprehensive Overview**: Provides a complete list of all prompts, helping in the overall management and navigation of project content.
        - **Efficient Project Management**: Enables project managers and team members to quickly assess the progress and status of various prompts within the project.

        **Use Cases**:
        - Developers and content creators looking to overview or navigate through all the prompts associated with a specific project.
        - Useful in scenarios where multiple teams or stakeholders need to review or access prompt information collectively.
      operationId: listPrompts
      parameters:
      - description: The unique identifier of the project whose prompts are to be
          listed.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PromptStub'
                type: array
          description: Successfully retrieved a list of all prompts in the specified
            project.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Project not found, indicating the specified project ID does\
            \ not exist."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the retrieval of prompts."
      security:
      - BearerAuth: []
      summary: List all prompts in a project
      tags:
      - Prompts
    post:
      description: |
        Creates a new prompt within a specified project. This endpoint is crucial for expanding project content by adding new prompts, allowing users to input initial details for a new prompt which then becomes part of the project's documentation or content offerings.

        **Key Features**:
        - **Content Expansion**: Allows for the easy addition of new content to a project, supporting dynamic growth and updates.
        - **Customizable Input**: Users can define various attributes of the prompt such as title, description, and specific content parameters through the `PromptInput` schema.

        **Use Cases**:
        - Content managers and creators adding new thematic prompts or content pieces to existing projects.
        - Automating content creation processes by integrating with content management systems that can trigger prompt creations through API calls.
      operationId: createPrompt
      parameters:
      - description: The unique identifier of the project within which the new prompt
          is to be created.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromptInput'
        description: "Contains the necessary attributes for creating a new prompt,\
          \ such as title, description, and any specific content elements."
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
          description: The prompt was created successfully and is now part of the
            project.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Invalid input provided in the request body, such as missing\
            \ required fields or data that does not conform to the expected format."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Project not found, indicating the specified project ID does\
            \ not exist."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the creation of the new\
            \ prompt."
      security:
      - BearerAuth: []
      summary: Create a new prompt in a project
      tags:
      - Prompts
  /projects/{projectId}/prompts/{promptId}:
    delete:
      description: |
        Deletes a specific prompt from a project, removing it permanently from the system. This operation is used when a prompt is no longer needed or relevant, or as part of content cleanup and management strategies.

        **Key Usage**:
        - Removing outdated or irrelevant prompts to maintain a clean and efficient project environment.
        - Complying with data retention policies by deleting prompts that are no longer necessary.
      operationId: deletePrompt
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt to be deleted.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The prompt was deleted successfully; no content is returned.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Either the prompt or the project was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the deletion of the prompt."
      security:
      - BearerAuth: []
      summary: Delete a specific prompt from a project
      tags:
      - Prompts
    get:
      description: |
        Retrieves detailed information about a specific prompt within a project, including its content, metadata, and any associated versioning details. This endpoint is essential for users who need to view the current state of a prompt or to fetch its details for further processing or display.

        **Key Usage**:
        - Viewing the complete details of a prompt for editorial or review purposes.
        - Fetching prompt data for integration with other tools or services.
      operationId: getPrompt
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt being retrieved.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
          description: Successfully retrieved detailed information about the prompt.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Either the prompt or the project was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the retrieval of the prompt."
      security:
      - BearerAuth: []
      summary: Retrieve a specific prompt within a project
      tags:
      - Prompts
    put:
      description: |
        Updates the content or metadata of a specific prompt within a project. This operation allows users to modify existing prompts to reflect changes in requirements, updates, or corrections. It is crucial for maintaining the accuracy and relevancy of prompt content.

        **Key Usage**:
        - Modifying the text or other properties of a prompt as part of content management workflows.
        - Updating prompt settings or configurations based on new inputs or feedback.
      operationId: updatePrompt
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt being updated.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromptInput'
        description: JSON payload containing the updated data for the prompt.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
          description: The prompt was updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Invalid input, such as malformed data or incomplete required\
            \ fields."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Either the prompt or the project was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the update of the prompt."
      security:
      - BearerAuth: []
      summary: Update a specific prompt in a project
      tags:
      - Prompts
  /projects/{projectId}/prompts/{promptId}/branches:
    get:
      description: |
        Retrieves a list of all branches associated with a specific prompt. This operation is essential for tracking the evolution of content within the prompt, allowing users to view different iterations and stages of development. It is particularly useful in environments where multiple revisions or collaborative editing processes are involved.

        **Usage**:
        - Facilitates the management of multiple branch versions.
        - Enables stakeholders to review historical changes and progress on a prompt.
        - Supports collaborative review by providing access to various branch submissions.
      operationId: listPromptBranches
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt for which branches are being
          listed.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Branch'
                type: array
          description: Successfully retrieved a list of all branches for the specified
            prompt.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified prompt was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the retrieval of branch\
            \ data."
      security:
      - BearerAuth: []
      summary: List all branches of a specific prompt
      tags:
      - Branches
    post:
      description: |
        Creates a new branch version for a specific prompt. This endpoint allows users to start a new revision cycle by submitting initial branch content or proposals. It supports workflows where new ideas, updates, or revisions are periodically added to an ongoing project.

        **Usage**:
        - Initiates a new branch for collaborative editing or further development.
        - Helps in managing version control by starting a new branch of content development.

        **Requirements**:
        - Users must provide initial content or parameters for the branch as defined in the `PromptBranchInput` schema.
        - Appropriate permissions are required to create branches, typically restricted to content creators or project managers.
      operationId: createPromptBranch
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt for which a new branch is
          being created.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BranchInput'
        description: "Contains the necessary information for creating a new branch,\
          \ such as initial content or metadata."
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
          description: Branch created successfully and is now available for review
            or further editing.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Invalid input, such as missing required fields or malformed\
            \ data."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The specified prompt was not found, and thus the branch could\
            \ not be created."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the creation of a new\
            \ branch."
      security:
      - BearerAuth: []
      summary: Create a new branch for a prompt
      tags:
      - Branches
  /projects/{projectId}/prompts/{promptId}/branches/{branchName}:
    delete:
      description: "Deletes a specific branch of a prompt. This endpoint allows users\
        \ to remove an entire branch and its associated commit history from a prompt.\
        \ \n\n**Features**:\n- **Branch Removal**: Enables the deletion of branches\
        \ that are no longer needed or are obsolete, maintaining a clean and organized\
        \ development environment.\n- **Cascade Deletion**: Removes all commits associated\
        \ with the branch, ensuring no orphaned data remains.\n\n**Use Cases**:\n\
        - Developers cleaning up old branches that are no longer in use.\n- Content\
        \ managers removing experimental branches that didn't proceed to production.\n\
        - Automated systems enforcing branch retention policies by deleting branches\
        \ past their retention period.\n\n**Key Parameters**:\n- `promptId`: Identifies\
        \ the prompt whose branch is being deleted.\n- `branchName`: Specifies the\
        \ name of the branch to delete.\n"
      operationId: deleteBranch
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt whose branch is being deleted.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the branch to be deleted.
        explode: false
        in: path
        name: branchName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Branch deleted successfully.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No branch found matching the specified identifiers.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the deletion of the branch."
      security:
      - BearerAuth: []
      summary: Delete a specific branch
      tags:
      - Branches
    get:
      description: "Retrieves detailed information about a specific branch of a prompt.\
        \ This endpoint is crucial for accessing the current state and details of\
        \ a branch, including its creation date, name, and associated prompt ID. \n\
        \n**Features**:\n- **Branch Identification**: Provides unique identifiers\
        \ for branches, allowing for precise tracking and management.\n- **Metadata\
        \ Access**: Includes metadata such as creation date and branch name, aiding\
        \ in branch management and auditing.\n\n**Use Cases**:\n- Developers reviewing\
        \ the state of a branch to understand its current content and history.\n-\
        \ Content managers assessing different branches to decide on merging or further\
        \ development.\n- Integrating branch data into other systems for enhanced\
        \ content lifecycle management.\n\n**Key Parameters**:\n- `promptId`: Identifies\
        \ the prompt to which the branch belongs.\n- `branchName`: Specifies the name\
        \ of the branch to retrieve.\n"
      operationId: getBranch
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the branch to retrieve.
        explode: false
        in: path
        name: branchName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
          description: Successfully retrieved detailed information about the specified
            branch.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No branch found matching the specified identifiers.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the retrieval of the branch."
      security:
      - BearerAuth: []
      summary: Retrieve a specific branch
      tags:
      - Branches
  /projects/{projectId}/prompts/{promptId}/branches/{branchName}/commits:
    get:
      description: |
        Retrieves a list of all commit histories associated with a specific branch of a prompt. This endpoint is crucial for understanding the evolution and lifecycle of branch content, allowing users to access and review all historical and current iterations of a branch.

        **Features**:
        - **Commit Tracking**: Provides detailed information about each commit, including commit messages, authors, and timestamps, which helps in tracking the changes made over time.
        - **Historical Analysis**: Facilitates the analysis of how a branch has evolved, enabling users to see the progression of content and identify key milestones.
        - **Auditing and Compliance**: Maintains a clear record of all changes made to a branch, supporting auditing and compliance requirements.

        **Use Cases**:
        - Developers reviewing commit histories to understand the development process of a branch.
        - Content managers analyzing changes for quality control and consistency.
        - Compliance officers auditing changes for regulatory adherence.
      operationId: listBranchCommits
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt whose branch commits are
          being listed.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the branch whose commits are being listed.
        explode: false
        in: path
        name: branchName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Commit'
                type: array
          description: Successfully retrieved a list of all commits associated with
            the branch.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No branch found matching the specified identifiers.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the retrieval of commit\
            \ information."
      security:
      - BearerAuth: []
      summary: List all commits of a specific branch
      tags:
      - Commits
    post:
      description: |
        Creates a new commit for a specific branch of a prompt. This endpoint allows users to record changes made to the branch, with a commit message detailing the updates. It supports workflows where changes need to be tracked and managed systematically.

        **Features**:
        - **Change Documentation**: Captures detailed descriptions of changes made in the commit message, providing context for future reference.
        - **Version Control**: Ensures systematic tracking of all changes, enabling easy rollback to previous states if needed.
        - **Collaborative Development**: Supports collaborative environments by recording contributions from multiple users.

        **Use Cases**:
        - Developers committing new changes or features to a branch.
        - Content managers updating prompt content and documenting the changes.
        - Teams collaborating on a project and needing a clear record of each member's contributions.
      operationId: createBranchCommit
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt whose branch is being committed
          to.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the branch for which a new commit is being created.
        explode: false
        in: path
        name: branchName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitInput'
        description: "Contains the necessary information for creating a new commit,\
          \ such as commit message and changes."
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commit'
          description: Commit created successfully and is now part of the branch history.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Invalid input, such as missing required fields or malformed\
            \ data."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The specified branch was not found, and thus the commit could\
            \ not be created."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the creation of a new\
            \ commit."
      security:
      - BearerAuth: []
      summary: Create a new commit for a branch
      tags:
      - Commits
  /projects/{projectId}/prompts/{promptId}/branches/{branchName}/commits/{commitId}:
    get:
      description: |
        Retrieves detailed information about a specific commit of a branch, or the most recent commit if 'latest' is specified as the commit ID. This endpoint is crucial for accessing historical data of branch commits for review or rollback purposes.

        **Features**:
        - **Historical Tracking**: Provides access to the specific details of a commit, including changes made, author, and timestamp.
        - **Latest Commit Access**: Supports retrieving the most recent commit using the 'latest' keyword, streamlining access to the current state of the branch.
        - **Detailed Insights**: Includes comprehensive commit information, aiding in understanding the evolution and decision-making process.

        **Use Cases**:
        - Retrieving past commits for audit or comparison purposes.
        - Accessing the latest commit to continue development or review current changes.
        - Integrating commit data into other systems for enhanced content lifecycle management.
      operationId: getBranchCommit
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the branch.
        explode: false
        in: path
        name: branchName
        required: true
        schema:
          type: string
        style: simple
      - description: "The ID of the commit to retrieve, or 'latest' to obtain the\
          \ most recent commit."
        example: latest
        explode: false
        in: path
        name: commitId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commit'
          description: Successfully retrieved detailed information about the specified
            commit of the branch.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No branch or commit found matching the specified identifiers.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the retrieval of the branch\
            \ commit."
      security:
      - BearerAuth: []
      summary: Retrieve a specific commit or the latest commit of a branch
      tags:
      - Commits
  /templates/{promptId}/{branchName}/{commitId}:
    get:
      description: |
        Retrieves detailed information about a specific commit of a branch for a given prompt, or the most recent commit if 'latest' is specified as the commit ID. This endpoint is essential for accessing the most accurate and relevant prompt data to feed models in production environments.

        **Features**:
        - **Prompt Data Retrieval**: Provides detailed information about a specific commit, including the changes made, the author, and the timestamp, ensuring the most current data is available for production models.
        - **Latest Commit Access**: Supports obtaining the most recent commit using the 'latest' keyword, facilitating immediate access to the latest prompt data for model consumption.
        - **Comprehensive Insights**: Offers thorough commit information, helping to understand the evolution of the prompt and ensuring models use the most refined versions.

        **Use Cases**:
        - **Model Feeding**: Retrieving the latest or a specific version of a prompt to provide models with the most up-to-date and accurate data for production use.
        - **Continuous Improvement**: Accessing historical commits to understand changes and improvements in prompts, aiding in refining models based on prompt evolution.
        - **Integration with Systems**: Integrating commit data into production systems to ensure models are always fed with the most relevant and approved prompt versions.
      operationId: getTemplateCommit
      parameters:
      - description: The unique identifier of the prompt.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the branch.
        explode: false
        in: path
        name: branchName
        required: true
        schema:
          type: string
        style: simple
      - description: "The ID of the commit to retrieve, or 'latest' to obtain the\
          \ most recent commit."
        example: latest
        explode: false
        in: path
        name: commitId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commit'
          description: Successfully retrieved detailed information about the specified
            commit of the branch.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No branch or commit found matching the specified identifiers.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the retrieval of the branch\
            \ commit."
      security:
      - BearerAuth: []
      - BasicAuth: []
      summary: Retrieve a specific commit or the latest commit of a branch
      tags:
      - Commits
  /projects/{projectId}/prompts/{promptId}/tests:
    get:
      description: |
        Retrieves a comprehensive list of all test cases associated with a specific prompt. This operation is essential for users to view and manage all test cases under a prompt, facilitating efficient testing and validation of prompt content.

        **Key Features**:
        - **Comprehensive Overview**: Provides a complete list of all test cases, aiding in the overall management and execution of tests.
        - **Efficient Test Management**: Enables users to quickly assess the status and coverage of various test cases for the prompt.

        **Use Cases**:
        - Quality assurance teams reviewing all test cases associated with a specific prompt.
        - Developers and testers looking to manage and execute test cases efficiently.
      operationId: listTestCases
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt whose test cases are being
          listed.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TestCase'
                type: array
          description: Successfully retrieved a list of all test cases associated
            with the prompt.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No test case found matching the specified identifiers.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the retrieval of test\
            \ cases."
      summary: List all test cases for a prompt
      tags:
      - Test Cases
    post:
      description: |
        Creates a new test case for a specific prompt. This endpoint is crucial for expanding the testing coverage of a prompt by adding new test cases, allowing users to define initial details for a new test case which then becomes part of the prompt's testing suite.

        **Key Features**:
        - **Test Expansion**: Allows for the addition of new test cases to a prompt, supporting dynamic testing and validation.
        - **Customizable Input**: Users can define various attributes of the test case such as name, parameters, and expected outcomes through the `TestCaseInput` schema.

        **Use Cases**:
        - Quality assurance teams adding new test cases to validate prompt functionality.
        - Automating test case creation processes by integrating with test management systems that can trigger test case creations through API calls.
      operationId: createTestCase
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt whose test case is being
          created.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestCaseInput'
        description: "Contains the necessary information for creating a new test case,\
          \ such as name and a list of test parameters."
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCase'
          description: Test case created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Invalid input, such as missing required fields or malformed\
            \ data."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "The specified prompt was not found, and thus the test case\
            \ could not be created."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the creation of a new\
            \ test case."
      summary: Create a new test case for a prompt
      tags:
      - Test Cases
  /projects/{projectId}/prompts/{promptId}/tests/{testId}:
    delete:
      description: |
        Deletes a specific test case from a prompt. This operation is used when a test case is no longer needed or relevant, or as part of test suite cleanup and management strategies.

        **Key Usage**:
        - Removing outdated or irrelevant test cases to maintain a clean and efficient testing environment.
        - Complying with data retention policies by deleting test cases that are no longer necessary.
      operationId: deleteTestCase
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt whose test case is being
          deleted.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the test case.
        explode: false
        in: path
        name: testId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The test case was deleted successfully; no content is returned.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No test case found matching the specified identifiers.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the deletion of the test\
            \ case."
      summary: Delete a specific test case from a prompt
      tags:
      - Test Cases
    get:
      description: |
        Retrieves detailed information about a specific test case associated with a prompt. This operation is essential for users who need to view the current state of a test case or to fetch its details for further analysis or execution.

        **Key Usage**:
        - Viewing the complete details of a test case for review or execution purposes.
        - Fetching test case data for integration with other testing tools or systems.
      operationId: getTestCase
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt whose test case is being
          retrieved.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the test case.
        explode: false
        in: path
        name: testId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCase'
          description: Successfully retrieved the test case associated with the prompt.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No test case found matching the specified identifiers.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing the retrieval of the test\
            \ case."
      summary: Retrieve a specific test case for a prompt
      tags:
      - Test Cases
    put:
      description: |
        Updates the details of a specific test case associated with a prompt. This operation allows users to modify existing test cases to reflect changes in requirements, updates, or corrections. It is crucial for maintaining the accuracy and relevancy of test case content.

        **Key Usage**:
        - Modifying the parameters or expected outcomes of a test case as part of test management workflows.
        - Updating test case settings or configurations based on new inputs or feedback.
      operationId: updateTestCase
      parameters:
      - description: The unique identifier of the project.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the prompt whose test case is being
          updated.
        explode: false
        in: path
        name: promptId
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier of the test case.
        explode: false
        in: path
        name: testId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestCaseInput'
        description: "Contains the necessary information for updating a test case,\
          \ such as name and a list of testing parameters."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCase'
          description: Test case updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Invalid input, such as missing required fields or malformed\
            \ data."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The specified test case was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: "A server error occurred, preventing updates to the test case."
      summary: Update a specific test case for a prompt
      tags:
      - Test Cases
components:
  schemas:
    KSUID:
      description: A K-sortable unique identifier (KSUID)
      maxLength: 27
      minLength: 27
      pattern: "^[A-Za-z0-9]{27}$"
      type: string
    HealthCheckSuccessResponse:
      example:
        status: healthy
      properties:
        status:
          example: healthy
          type: string
      type: object
    HealthCheckErrorResponse:
      example:
        status: unhealthy
      properties:
        status:
          example: unhealthy
          type: string
      type: object
    Project:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        name: name
        description: description
        id: ""
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/KSUID'
          description: Unique identifier for the project
        name:
          description: Name of the project
          maxLength: 30
          minLength: 1
          type: string
        description:
          description: A brief description of the project
          maxLength: 180
          minLength: 1
          type: string
        createdAt:
          description: Timestamp when the project was created
          format: date-time
          type: string
        updatedAt:
          description: Timestamp when the project was last updated
          format: date-time
          type: string
      type: object
    ProjectInput:
      example:
        name: name
        description: description
      properties:
        name:
          description: Name of the project
          maxLength: 30
          minLength: 1
          type: string
        description:
          description: A brief description of the project
          maxLength: 180
          minLength: 1
          type: string
      required:
      - name
      type: object
    ApiKey:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        id: ""
        secret: secret
        scopes:
        - scopes
        - scopes
        projectId: ""
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/KSUID'
          description: Unique identifier for the API key
        secret:
          description: The API key token
          maxLength: 180
          minLength: 1
          type: string
        scopes:
          description: List of scopes or permissions granted by this API key
          items:
            type: string
          type: array
        projectId:
          allOf:
          - $ref: '#/components/schemas/KSUID'
          description: The project ID this API key belongs to
        createdAt:
          description: Timestamp when the API key was created
          format: date-time
          type: string
        updatedAt:
          description: Timestamp when the API key was last updated
          format: date-time
          type: string
      type: object
    ApiKeyInput:
      example:
        scopes:
        - scopes
        - scopes
      properties:
        scopes:
          description: List of scopes or permissions to be granted to this API key
          items:
            type: string
          type: array
      required:
      - scopes
      type: object
    Prompt:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        name: name
        description: description
        id: ""
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/KSUID'
          description: Unique identifier for the prompt
        name:
          description: Name of the prompt
          maxLength: 30
          minLength: 1
          type: string
        description:
          description: A brief description of the project
          maxLength: 180
          minLength: 1
          type: string
        createdAt:
          description: Timestamp when the prompt was created
          format: date-time
          type: string
        updatedAt:
          description: Timestamp when the prompt was last updated
          format: date-time
          type: string
      type: object
    PromptInput:
      example:
        name: name
        description: description
      properties:
        name:
          description: Name of the prompt
          maxLength: 30
          minLength: 1
          type: string
        description:
          description: A brief description of the project
          maxLength: 180
          minLength: 1
          type: string
      required:
      - name
      type: object
    PromptStub:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        name: name
        stub: stub
        description: description
        id: ""
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/KSUID'
          description: Unique identifier for the prompt
        name:
          description: Name of the prompt
          maxLength: 30
          minLength: 1
          type: string
        description:
          description: A brief description of the project
          maxLength: 180
          minLength: 1
          type: string
        stub:
          description: A 180 character preview of the prompt
          maxLength: 180
          minLength: 1
          type: string
        createdAt:
          description: Timestamp when the prompt was created
          format: date-time
          type: string
        updatedAt:
          description: Timestamp when the prompt was last updated
          format: date-time
          type: string
      type: object
    Branch:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        name: name
      properties:
        name:
          description: Branch name unique to the prompt
          maxLength: 30
          minLength: 1
          type: string
        createdAt:
          description: Timestamp when this branch was created
          format: date-time
          type: string
      type: object
    BranchInput:
      example:
        name: name
      properties:
        name:
          description: Branch name unique to the prompt
          maxLength: 30
          minLength: 1
          type: string
      required:
      - id
      type: object
    Commit:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        id: ""
        message: message
        userId: ""
        content: content
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/KSUID'
          description: Unique identifier for the commit of the branch
        content:
          description: Content of the prompt in this commit
          minLength: 1
          type: string
        message:
          description: Message describing the changes in this commit
          maxLength: 180
          minLength: 1
          type: string
        userId:
          allOf:
          - $ref: '#/components/schemas/KSUID'
          description: Identifier of the user that created this commit
        createdAt:
          description: Timestamp when this commit was created
          format: date-time
          type: string
      type: object
    CommitInput:
      example:
        message: message
        content: content
      properties:
        content:
          description: Content of the prompt in this commit
          minLength: 1
          type: string
        message:
          description: Message describing the changes in this commit
          maxLength: 180
          minLength: 1
          type: string
      required:
      - content
      type: object
    TestCase:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        name: name
        id: ""
        parameters:
        - value: value
          key: key
        - value: value
          key: key
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/KSUID'
          description: Unique identifier for the test case of the prompt
        name:
          description: Name of this test case
          maxLength: 30
          minLength: 1
          type: string
        parameters:
          description: Content of the parameters in this test case
          items:
            $ref: '#/components/schemas/TestCaseParameter'
          type: array
        updatedAt:
          description: Timestamp when this test case was updated
          format: date-time
          type: string
        createdAt:
          description: Timestamp when this test case was created
          format: date-time
          type: string
      type: object
    TestCaseInput:
      example:
        name: name
        parameters:
        - value: value
          key: key
        - value: value
          key: key
      properties:
        name:
          description: Name of this test case
          maxLength: 30
          minLength: 1
          type: string
        parameters:
          description: List of parameters for this test case
          items:
            $ref: '#/components/schemas/TestCaseParameter'
          type: array
      required:
      - name
      - parameters
      type: object
    TestCaseParameter:
      example:
        value: value
        key: key
      properties:
        key:
          description: Test case parameter key.
          maxLength: 30
          minLength: 1
          type: string
        value:
          description: Test case parameter value.
          minLength: 1
          type: string
      type: object
    Error:
      example:
        error: error
      properties:
        error:
          description: Message describing the error that occurred
          type: string
      type: object
  securitySchemes:
    BearerAuth:
      bearerFormat: JWT
      description: |
        Bearer Token authentication uses JSON Web Tokens (JWT) to verify the identity of the requester. This scheme is included in the Authorization header of each HTTP request using the Bearer format.

        **How to use**:
        - Obtain a JWT from the authentication server. Typically, this involves an initial request with credentials (username/password) to receive the token.
        - Include the token in the Authorization header of your HTTP requests as follows:
          ```
          Authorization: Bearer {token}
          ```
        - The server decodes the JWT to verify its validity and authorizes the request based on the token's payload and signature.

        **Advantages**:
        - Offers more security than API key authentication as the token content is protected by cryptographic algorithms.
        - Tokens can be designed to expire after a certain period, enhancing security by limiting the duration of their validity.

        **Limitations**:
        - Requires a more complex backend setup to issue and verify tokens.
        - Handling token renewal and revocation can add overhead to client and server implementations.

        **Example**:
        To access protected routes or resources, the client must authenticate by providing the JWT in the authorization header:
        ```
        Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiw
      scheme: bearer
      type: http
    BasicAuth:
      description: |
        Basic authentication requires the user to provide an API key ID as the username and an API key secret as the password. This method is simple and effective for scenarios where high security is not the primary concern.

        **How to use**:
        - Obtain an API key ID and secret from the API provider.
        - Include the API key ID and secret in the HTTP request's Authorization header using the Basic scheme. The header must be in the format:
          ```
          Authorization: Basic {base64_encode(api_key_id:api_key_secret)}
          ```
        - The API will decode the credentials and validate them against its database. If valid, access to the requested resources is granted.

        **Advantages**:
        - Simple and easy to implement.
        - Useful for development and testing environments.

        **Limitations**:
        - Less secure as credentials are encoded but not encrypted. Should only be used over HTTPS to protect credentials in transit.
        - Credentials are static and do not expire unless explicitly rotated or revoked.
      scheme: basic
      type: http
